optout_form/index.pug

section.content
  h1.content__heading Optin-out Request Form
  p.content__lede Use this handy form to post emails to be opt-out.

  form#requestForm.content__form.contact-form 
      
    
      
    .contact-form__input-group
      label.contact-form__label(
        for="dc"
      ) Distribution Channel
      select#dc.contact-form__input.contact-form__input--select(
        name="dc"
      )
        option Oakley
        option SunglassHut
        option Lenscrsafters
        option Target Optical

    .contact-form__input-group
      label.contact-form__label(
        for="email"
      ) Email Address
      input#email.contact-form__input.contact-form__input--email(
        name="email"
        type="email"
      )

    .contact-form__input-group
      label.contact-form__label(
        for="requestType"
      ) Request Type
      select#requestType.contact-form__input.contact-form__input--select(
        name="requestType"
      )
        option Opt-Out
        option Opt-In

    .contact-form__input-group
      label.contact-form__label(
        for="emailList"
      ) Email List
      textarea#emailList.contact-form__input.contact-form__input--textarea(
        name="emailList"
        rows="10"
        cols="65"
      )

    .contact-form__input-group
      label.contact-form__label(
        for="requestId"
      ) Request Id
      input#requestId.contact-form__input.contact-form__input--text(
        name="requestId"
        type="text"
        readonly="readonly"
      )    
      
    //- A hidden input to demonstrate that these are grabbed as well.
    input(
      name="secret"
      type="hidden"
      value="1b3a9374-1a8e-434e-90ab-21aa7b9b80e7"
    )

    button.contact-form__button(
      type="submit"
    ) Send It!


  p#message.message__lede 
  
//.results
//  h2.results__heading Form Data
//  pre.results__display-wrapper
//    code.results__display

optout_form/index.html
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Optin-out Request Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato:300|Open+Sans" rel="stylesheet">
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  
<section class="content">
  <h1 class="content__heading">Optin-out Request Form</h1>
  <p class="content__lede">Use this handy form to post emails to be opt-out.</p>
  <form class="content__form contact-form" id="requestForm"> 
    <div class="contact-form__input-group">
      <label class="contact-form__label" for="dc">Distribution Channel</label>
      <select class="contact-form__input contact-form__input--select" id="dc" name="dc">
        <option value="">[select a brand]</option>
        <option value="allbrands">All Brands</option>
        <option value="O2">Oakley</option>
        <option value="R1">Lenscrafters</option>
        <option value="R2">Pearle Vision</option>
        <option value="R3">SunglassHut</option>
        <option value="R4">Sears</option>
        <option value="R5">Target</option>
        <option value="R6">Ilori</option>
        <option value="R7">Optical Shop Of Aspen</option>
        <option value="R8">Icon</option>
        <option value="R9">Contacts Direct</option>
      </select>
    </div>
    <div class="contact-form__input-group">
      <label class="contact-form__label" for="email">Email Address</label>
      <input class="contact-form__input contact-form__input--email" id="email" name="email" type="email"/>
      <p id="emailErrorMsg" class="content__lede" ></p>
    </div>
    <div class="contact-form__input-group">
      <label class="contact-form__label" for="requestType">Request Type</label>
      <select class="contact-form__input contact-form__input--select" id="requestType" name="requestType">
        <option>Opt-Out</option>
        <option>Opt-In</option>
      </select>
    </div>
    <div class="contact-form__input-group">
      <label class="contact-form__label" for="emailList">Email List</label>
      <textarea class="contact-form__input contact-form__input--textarea" id="emailList" name="emailList" rows="10" cols="65"></textarea>
      <p id="emailListErrorMsg" class="content__lede" ></p>
    </div>
    <div class="contact-form__input-group">
      <label class="contact-form__label" for="requestId">Request Id</label>
      <input class="contact-form__input contact-form__input--text" id="requestId" name="requestId" type="text" readonly="readonly"/>
    </div>
    <button class="contact-form__button" type="submit">Send It!</button>
  </form>
  <p class="message__lede" id="message"> </p>
</section>
<!--.results-->
<!--  h2.results__heading Form Data-->
<!--  pre.results__display-wrapper-->
<!--    code.results__display-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
